IRON_SESSION_PASSWORD=[valor maior ou igual a 32 caracteres]
NODE_ENV=development
ADM_PASSWORD=[passoword á escolha do usuário]
ADM_LOGIN=[login á escolha do usuário]
DATABASE_URL=[URL do PostgreSQL (Neon)]
ZAPSIGN_APIKEY=[API key da Zapsign]
ZAPSIGN_CELLPHONENUMBER_TEST=[telefone para testes, formato +55...]
ZAPSIGN_EMAIL_TEST=[email para testes]
ZAPSIGN_ADM_NAME=[nome do signatário admin]
ZAPSIGN_ADM_EMAIL=[email do signatário admin]
ZAPSIGN_ADM_PHONE=[telefone do signatário admin]
UNICRED_API_CODE=[código da cooperativa]
UNICRED_API_CLIENTID=[client id / apiKey da aplicação no portal]
UNICRED_API_SECRET=[secret da aplicação]
UNICRED_API_USER=[usuário de API Unicred]
UNICRED_API_PASSWORD=[senha de API Unicred]
UNICRED_API_BASE_URL=[https://api.e-unicred.com.br/homolog ou produção]
UNICRED_API_ID_BENEFICIARIO=[id do beneficiário de cobrança]
UNICRED_WEBHOOK_API_KEY=[UUID v4 para autenticação do webhook]
UNICRED_WEBHOOK_SECRET_KEY=[UUID v4 para criptografia do webhook]
